body{
    background-color: grey;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
h1{
    color: #4AB19A;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 5.625rem;
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Handlee', cursive;
}
h2{
    color: #4AB19A;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;
}
h3{
    color: #4AB19A;
    font-family: 'Montserrat', sans-serif;
}

/* ******************************************************** */
/* ******************************************************** */
.top-container{
    padding-top: 100px;
    position: relative;
    background-color: #E0EBE8
}
.land{
    margin-top: 60px;
    position: relative;
}
/* ****************************CLOUDS**************************** */
.clouds{
    height: 118px;
    width: 140px;
}
#top-cloud{
    position: absolute;
    top: 40px;
    right: 250px;
}
#bottom-cloud{
    position: absolute;
    bottom: 280px;
    left:250px;
}
/* ****************************CLOUDS**************************** */

/* ******************************************************** */
/* ******************************************************** */
.middle-container{
    background-color: white;
}

/* ****************************ABOUT ME**************************** */
#Profile-Picture{
    margin-top: 85px;
    margin-bottom: 25px;
    height: 190px;
    width: 190px;
    border: #4AB19A;
    border-style: solid;
    border-width: 3px;
    border-radius: 100%;
}
.about-me{
    margin-top: 0px;
    display: inline-block;
    width: 50%;
    line-height: 1.5;
}
.Agra{
    text-decoration: none;
    color: grey;
}
.Agra:hover{
    text-decoration: underline;
    color: #4AB19A;
}
hr{
    width: 5%;
    border-style: dotted none none none;
    border-width: 5px;
    border-color: rgb(187, 183, 183);
    margin-top: 75px;
    margin-bottom: 75px;
}
.Skills-1{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    float: left;
    margin-right: 65px;
}
.skill-row-1{
    margin-bottom: 90px;
    line-height: 1.35;
    display: inline-block;
    text-align: left;
    width: 55%;
}
.Skills-2{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    float: right;    
    /* clear === anti-float */
    margin-left: 65px;
}
.skill-row-2{
    margin-bottom: 19.2px;
    line-height: 1.35;
    display: inline-block;
    text-align: left;
    width: 55%;
}
.contact-me{
    line-height: 1.35;
    display: inline-block;
    width: 50%;
}
.mail{
    width: 25px;
    margin: 0;
    float: left;
}
.btn {
    margin: 50px auto 120px auto;
    width: 26%;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    background: #3EA08A;
    padding: 10px 20px 10px 20px;
}
.btn:hover {
    background: #2A8B7A;
}
#btn-anchor{
    color: rgb(31, 29, 29);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
/* ****************************ABOUT ME**************************** */
/* ****************************FOOTER**************************** */
.bottom-container{
    background-color: #aaebdb;
    padding-top: 35px;
    padding-bottom: 35px;
}
.links{
    width: 3%;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #aaebdb;
    margin: 0 40px 0 40px;
}
.links:hover{
    background-color: #2A8B7A;
    border-style: solid;
    border-width: 3px;
    border-color: #2A8B7A;
}
.copyright{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(82, 80, 80);
}
#symbol{
    float: left;
    width: 15px;
    margin-right: 5px;
}
